<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
         <p>This site uses mapbox.com and weatherstack.com with nodeJS.</p>
    </div>
    <img class="portrait" src="/img/ii.jpg">

    
    {{>footer}}
</body>

</html> 